:root{
    --px0:0px;
    --px1:1px;
    --px2:2px;
    --px3:3px;
    --px4:4px;
    --px5:5px;
    --px6:6px;
    --px7:7px;
    --px8:8px;
    --px9:9px;
    --px10:10px;
    --px11:11px;
    --px12:12px;
    --px13:13px;
    --px14:14px;
    --px15:15px;
    --px16:16px;
    --px17:17px;
    --px18:18px;
    --px19:19px;
    --px20:20px;
    --px21:21px;
    --px22:22px;
    --px23:23px;
    --px24:24px;
    --px25:25px;
    --px30:30px;
    --px31:31px;
    --px32:32px;
    --px33:33px;
    --px34:34px;
    --px35:35px;
    --px36:36px;
    --px37:37px;
    --px40:40px;
    --px50:50px;
    --px60:60px;
    --px70:70px;
    --px75:75px;
    --px80:80px;
    --px90:90px;
    --px100:100px;


    --px-1:-1px;
}