.drawer_toggle_button{
    display: flex;
    flex-direction: column;
    height: var(--px22);
    width: var(--px40);
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    justify-content: space-around;
}

.drawer_toggle_button:focus{
    outline: none;
}

.drawer_toggle_button_line{
    width: var(--px30);
    height: var(--px3);
    background: red;
}