.side_drawer{
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side_drawer.open{
    transform: translateX(0);
}

.side_drawer ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side_drawer li{
    margin: var(--px5);
    cursor: pointer;
}

.side_drawer a{
    color: green;
    text-decoration: none;
}

.side_drawer :hover,
.side_drawer:active{
    color:orange;
}

@media(min-width: 796px){
    .side_drawer{
        display: none;
        
    }
}